  
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  
  .tab:hover {
    text-decoration: underline;
    color: white;
  }

  .tab.active{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    text-decoration: underline;

    font-size: 30px;
  }
  


.container{
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    margin-left: 10em;
    margin-right: 5em;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    overflow: hidden;
    padding: 20px;
}

.flappy img{
  width: 20%;
  padding: 30px;
  padding-left: 7.5em;
}

.matcheats img{
  padding: 20px;
  padding-left: 7em;
}